camera/camera.iml
camera/build/generated/source/buildConfig/debug/com/commonsware/cwac/camera/BuildConfig.java
camera/build/generated/source/buildConfig/release/com/commonsware/cwac/camera/BuildConfig.java
camera/build/generated/source/buildConfig/test/debug/com/commonsware/cwac/camera/test/BuildConfig.java
camera/build/generated/source/r/debug/com/commonsware/cwac/camera/R.java
camera/build/generated/source/r/release/com/commonsware/cwac/camera/R.java
camera/build/generated/source/r/test/debug/com/commonsware/cwac/camera/R.java
camera/build/generated/source/r/test/debug/com/commonsware/cwac/camera/test/R.java
camera/build/intermediates/bundles/debug/AndroidManifest.xml
camera/build/intermediates/bundles/debug/classes.jar
camera/build/intermediates/bundles/debug/R.txt
camera/build/intermediates/bundles/debug/res/xml/cwac_camera_profile_htc_htc_mecha.xml
camera/build/intermediates/bundles/debug/res/xml/cwac_camera_profile_htc_m7.xml
camera/build/intermediates/bundles/debug/res/xml/cwac_camera_profile_motorola_xt910_rtanz.xml
camera/build/intermediates/bundles/debug/res/xml/cwac_camera_profile_samsung_corsicadd.xml
camera/build/intermediates/bundles/debug/res/xml/cwac_camera_profile_samsung_d2att.xml
camera/build/intermediates/bundles/debug/res/xml/cwac_camera_profile_samsung_d2spr.xml
camera/build/intermediates/bundles/debug/res/xml/cwac_camera_profile_samsung_d2tmo.xml
camera/build/intermediates/bundles/debug/res/xml/cwac_camera_profile_samsung_d2uc.xml
camera/build/intermediates/bundles/debug/res/xml/cwac_camera_profile_samsung_d2vzw.xml
camera/build/intermediates/bundles/debug/res/xml/cwac_camera_profile_samsung_gd1wifiue.xml
camera/build/intermediates/bundles/debug/res/xml/cwac_camera_profile_samsung_ja3gxx.xml
camera/build/intermediates/bundles/debug/res/xml/cwac_camera_profile_samsung_jflteuc.xml
camera/build/intermediates/bundles/debug/res/xml/cwac_camera_profile_samsung_kyleproxx.xml
camera/build/intermediates/bundles/debug/res/xml/cwac_camera_profile_samsung_nevispxx.xml
camera/build/intermediates/bundles/debug/res/xml/cwac_camera_profile_samsung_yakju.xml
camera/build/intermediates/bundles/release/AndroidManifest.xml
camera/build/intermediates/bundles/release/classes.jar
camera/build/intermediates/bundles/release/R.txt
camera/build/intermediates/bundles/release/res/xml/cwac_camera_profile_htc_htc_mecha.xml
camera/build/intermediates/bundles/release/res/xml/cwac_camera_profile_htc_m7.xml
camera/build/intermediates/bundles/release/res/xml/cwac_camera_profile_motorola_xt910_rtanz.xml
camera/build/intermediates/bundles/release/res/xml/cwac_camera_profile_samsung_corsicadd.xml
camera/build/intermediates/bundles/release/res/xml/cwac_camera_profile_samsung_d2att.xml
camera/build/intermediates/bundles/release/res/xml/cwac_camera_profile_samsung_d2spr.xml
camera/build/intermediates/bundles/release/res/xml/cwac_camera_profile_samsung_d2tmo.xml
camera/build/intermediates/bundles/release/res/xml/cwac_camera_profile_samsung_d2uc.xml
camera/build/intermediates/bundles/release/res/xml/cwac_camera_profile_samsung_d2vzw.xml
camera/build/intermediates/bundles/release/res/xml/cwac_camera_profile_samsung_gd1wifiue.xml
camera/build/intermediates/bundles/release/res/xml/cwac_camera_profile_samsung_ja3gxx.xml
camera/build/intermediates/bundles/release/res/xml/cwac_camera_profile_samsung_jflteuc.xml
camera/build/intermediates/bundles/release/res/xml/cwac_camera_profile_samsung_kyleproxx.xml
camera/build/intermediates/bundles/release/res/xml/cwac_camera_profile_samsung_nevispxx.xml
camera/build/intermediates/bundles/release/res/xml/cwac_camera_profile_samsung_yakju.xml
camera/build/intermediates/classes/debug/com/android/mms/exif/ByteBufferInputStream.class
camera/build/intermediates/classes/debug/com/android/mms/exif/CountedDataInputStream.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifData.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$ColorSpace.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$ComponentsConfiguration.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$Compression.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$Contrast.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$ExposureMode.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$ExposureProgram.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$FileSource.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$Flash.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$GainControl.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$GpsAltitudeRef.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$GpsDifferential.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$GpsLatitudeRef.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$GpsLongitudeRef.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$GpsMeasureMode.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$GpsSpeedRef.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$GpsStatus.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$GpsTrackRef.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$LightSource.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$MeteringMode.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$Orientation.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$PhotometricInterpretation.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$PlanarConfiguration.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$ResolutionUnit.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$Saturation.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$SceneCapture.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$SceneType.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$SensingMethod.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$Sharpness.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$SubjectDistance.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$WhiteBalance.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface$YCbCrPositioning.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInterface.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifInvalidFormatException.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifModifier$TagOffset.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifModifier.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifOutputStream.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifParser$ExifTagEvent.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifParser$IfdEvent.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifParser$ImageEvent.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifParser.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifReader.class
camera/build/intermediates/classes/debug/com/android/mms/exif/ExifTag.class
camera/build/intermediates/classes/debug/com/android/mms/exif/IfdData.class
camera/build/intermediates/classes/debug/com/android/mms/exif/IfdId.class
camera/build/intermediates/classes/debug/com/android/mms/exif/JpegHeader.class
camera/build/intermediates/classes/debug/com/android/mms/exif/OrderedDataOutputStream.class
camera/build/intermediates/classes/debug/com/android/mms/exif/Rational.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/BuildConfig.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/CameraFragment.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/CameraHost$FailureReason.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/CameraHost$RecordingHint.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/CameraHost.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/CameraHostProvider.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/CameraUtils$1.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/CameraUtils$SizeComparator.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/CameraUtils.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/CameraView$1.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/CameraView$OnOrientationChange.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/CameraView$PictureTransactionCallback.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/CameraView.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/DeviceProfile.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/ImageCleanupTask.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/PictureTransaction.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/PreviewStrategy.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/R$attr.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/R$xml.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/R.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/SimpleCameraHost$Builder.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/SimpleCameraHost.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/SimpleDeviceProfile$MotorolaRazrI.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/SimpleDeviceProfile.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/SurfacePreviewStrategy.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/TexturePreviewStrategy.class
camera/build/intermediates/classes/debug/com/commonsware/cwac/camera/ZoomTransaction.class
camera/build/intermediates/classes/release/com/android/mms/exif/ByteBufferInputStream.class
camera/build/intermediates/classes/release/com/android/mms/exif/CountedDataInputStream.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifData.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$ColorSpace.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$ComponentsConfiguration.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$Compression.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$Contrast.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$ExposureMode.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$ExposureProgram.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$FileSource.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$Flash.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$GainControl.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$GpsAltitudeRef.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$GpsDifferential.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$GpsLatitudeRef.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$GpsLongitudeRef.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$GpsMeasureMode.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$GpsSpeedRef.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$GpsStatus.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$GpsTrackRef.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$LightSource.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$MeteringMode.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$Orientation.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$PhotometricInterpretation.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$PlanarConfiguration.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$ResolutionUnit.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$Saturation.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$SceneCapture.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$SceneType.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$SensingMethod.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$Sharpness.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$SubjectDistance.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$WhiteBalance.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface$YCbCrPositioning.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInterface.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifInvalidFormatException.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifModifier$TagOffset.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifModifier.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifOutputStream.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifParser$ExifTagEvent.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifParser$IfdEvent.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifParser$ImageEvent.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifParser.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifReader.class
camera/build/intermediates/classes/release/com/android/mms/exif/ExifTag.class
camera/build/intermediates/classes/release/com/android/mms/exif/IfdData.class
camera/build/intermediates/classes/release/com/android/mms/exif/IfdId.class
camera/build/intermediates/classes/release/com/android/mms/exif/JpegHeader.class
camera/build/intermediates/classes/release/com/android/mms/exif/OrderedDataOutputStream.class
camera/build/intermediates/classes/release/com/android/mms/exif/Rational.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/AbstractCustomShutterSoundPlayer.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/BuildConfig.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/CameraFragment.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/CameraHost$FailureReason.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/CameraHost$RecordingHint.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/CameraHost.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/CameraHostProvider.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/CameraUtils$1.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/CameraUtils$SizeComparator.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/CameraUtils.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/CameraView$OnOrientationChange.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/CameraView$PictureTransactionCallback.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/CameraView$TakePictureRunnable.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/CameraView.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/DeviceProfile.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/ImageCleanupTask.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/PictureTransaction.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/PreviewStrategy.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/R$attr.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/R$xml.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/R.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/SimpleCameraHost$Builder.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/SimpleCameraHost.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/SimpleDeviceProfile$MotorolaRazrI.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/SimpleDeviceProfile.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/SimpleShutterSoundPlayer.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/SurfacePreviewStrategy.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/TexturePreviewStrategy.class
camera/build/intermediates/classes/release/com/commonsware/cwac/camera/ZoomTransaction.class
camera/build/intermediates/incremental/aidl/debug/dependency.store
camera/build/intermediates/incremental/aidl/release/dependency.store
camera/build/intermediates/incremental/aidl/test/debug/dependency.store
camera/build/intermediates/incremental/mergeAssets/debug/merger.xml
camera/build/intermediates/incremental/mergeAssets/release/merger.xml
camera/build/intermediates/incremental/mergeAssets/test/debug/merger.xml
camera/build/intermediates/incremental/mergeResources/test/debug/merger.xml
camera/build/intermediates/incremental/packageResources/debug/merger.xml
camera/build/intermediates/incremental/packageResources/release/merger.xml
camera/build/intermediates/libs/camera-debug-test.ap_
camera/build/intermediates/manifests/test/debug/AndroidManifest.xml
camera/build/intermediates/res/test/debug/xml/cwac_camera_profile_htc_htc_mecha.xml
camera/build/intermediates/res/test/debug/xml/cwac_camera_profile_htc_m7.xml
camera/build/intermediates/res/test/debug/xml/cwac_camera_profile_motorola_xt910_rtanz.xml
camera/build/intermediates/res/test/debug/xml/cwac_camera_profile_samsung_corsicadd.xml
camera/build/intermediates/res/test/debug/xml/cwac_camera_profile_samsung_d2att.xml
camera/build/intermediates/res/test/debug/xml/cwac_camera_profile_samsung_d2spr.xml
camera/build/intermediates/res/test/debug/xml/cwac_camera_profile_samsung_d2tmo.xml
camera/build/intermediates/res/test/debug/xml/cwac_camera_profile_samsung_d2uc.xml
camera/build/intermediates/res/test/debug/xml/cwac_camera_profile_samsung_d2vzw.xml
camera/build/intermediates/res/test/debug/xml/cwac_camera_profile_samsung_gd1wifiue.xml
camera/build/intermediates/res/test/debug/xml/cwac_camera_profile_samsung_ja3gxx.xml
camera/build/intermediates/res/test/debug/xml/cwac_camera_profile_samsung_jflteuc.xml
camera/build/intermediates/res/test/debug/xml/cwac_camera_profile_samsung_kyleproxx.xml
camera/build/intermediates/res/test/debug/xml/cwac_camera_profile_samsung_nevispxx.xml
camera/build/intermediates/res/test/debug/xml/cwac_camera_profile_samsung_yakju.xml
camera/build/intermediates/symbols/test/debug/R.txt
camera/build/outputs/aar/camera-0.6.10.aar
camera/build/tmp/packageDebugJar/MANIFEST.MF
camera/build/tmp/packageReleaseJar/MANIFEST.MF
